page-profile {
  .subtitle {
    margin-top: 10pt;
    font-size: 125%;
  }
  .submit-button {
    background-color: #00B900;
  }
  .loading {
    font-size: 28px;
    color: rgba(1, 185, 2, 0.6);
  }
}
