<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="isLoaded; else elseBlock">
    <div *ngFor="let item of items">
      <a (click)="goToDetail(index)" class="fly">
        <ion-card>
          <img [src]="item.image_uri" />
          <!--<img src="https://www.pakutaso.com/shared/img/thumb/dandasanPAS01621.jpg" />-->
          <ion-card-content>
            <ion-card-title>
              <h2 class="name">{{item.restaurant_name}}</h2>
              <div class="title">{{item.title}}</div>
            </ion-card-title>
            <p class="contents">
              {{shortCutContent(item.content)}}...(続きを読む)
            </p>
            <div class="created_at_parent">
              <div class="created_at">
                {{item.created_time}}
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </a>
    </div>
  </div>
  <ng-template #elseBlock>
    <div class="loading">
      Now loading...
    </div>
  </ng-template>
</ion-content>
